body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #ababad;
}

#root {
  width: 100%;
}

.container {
  width: 70%;
  max-width: 800px;
  margin: 40px auto;
  background: #b88a8a6e;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  color: #06090d;
  font-size: 40px;
  margin-bottom: 30px;
}

h2 {
  color: #030303;
  margin-top: 25px;
  margin-bottom: 15px;
}

.container h3 {
  text-align: center;
  color: #0a0a0a;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}


/* Post Input */

textarea {
  width: 100%;
  height: 180px;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #f5d2d2;
  border-radius: 10px;
  resize: none;
  box-sizing: border-box;
  background: rgb(231, 218, 218);
  color: black;
}

textarea:focus {
  outline: none;
  border-color: #09090a;
}


/* Character Counter */

.character-count {
  color: #0a090a;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}


/* Last Edited */

.last-edit {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}


/* Platform Selection */

.platforms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 15px;
}

.platforms label {
  background: #E7DADA;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.platforms input {
  margin-right: 8px;
}


/* Upload */

.upload {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.upload-btn {
  background-color: #E7DADA;
  color: rgb(3, 3, 3);
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.upload-btn:hover {
  background-color: #d5c1c1;
}

.file-name {
  color: #333;
  font-size: 16px;
}


/* Publish Button */

.publish-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #8c918d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}

.publish-btn:hover {
  background-color: #666b68;
}


/* Search */

.search-bar {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 2px solid #E7DADA;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  background: #E7DADA;
  color: black;
}

.search-bar:focus {
  outline: none;
  border-color: #666b68;
}
/* Saved Posts */

.post-card {
  background: #E7DADA;
  border-left: 5px solid #0d0d0e;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

.post-card p {
  margin: 6px 0;
  color: #444;
}


.edit-btn,
.delete-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #8c918d;
}

.edit-btn:hover,
.delete-btn:hover {
  background-color: #666b68;
}


.no-posts {
  color: black;
}

